<table class="table table-striped table-bordered table-custom" cellspacing="0">
  <h1><%= @category.name %></h1>
  <thead>
    <tr>
      <th><%= t "question_admin.question_content" %></th>
    </tr>
  </thead>
  <tbody>
    <% @question.each do |question| %>
      <tr>
        <td><%= question.content %></td>
      </tr>
    <% end %>
  </tbody>
</table>
