.tiptext {
  width:100px;
  padding: 10px;
}
.description {
  display:none;
  position:absolute;
  padding :5px;
  width: 100%;
}
hr.separetor {
  width: 80px;
  color: #363942;
  border-top: 2px solid #ea9312;
}
h4 {font-size: 18px; line-height: 14px;}
p {
  letter-spacing: 1px;
  color: #c3c3c3;
  font-weight: lighter;
}
a {
  color: #44C295;
}
.card {
  padding-top: 20px;
  margin: 10px 0 20px 0;
  background-color: rgba(214, 224, 226, 0.2);
  border-top-width: 0;
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card .card-heading {
  padding: 0 20px;
  margin: 0;
}

.card .card-heading.simple {
  font-size: 20px;
  font-weight: 300;
  color: #777;
  border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
  display: inline-block;
  width: 46px;
  height: 46px;
  margin-right: 15px;
  vertical-align: top;
  border: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
  display: inline-block;
  vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  color: #262626;
}

.card .card-heading.image .card-heading-header span {
  font-size: 12px;
  color: #999999;
}

.card .card-body {
  padding: 0 20px;
  margin-top: 20px;
}

.card .card-media {
  padding: 0 20px;
  margin: 0 -14px;
}

.card .card-media img {
  max-width: 100%;
  max-height: 100%;
}

.card .card-actions {
  min-height: 30px;
  padding: 0 20px 20px 20px;
  margin: 20px 0 0 0;
}

.card .card-comments {
  padding: 20px;
  margin: 0;
  background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
  padding: 0;
  margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
  padding-right: 5px;
  overflow: hidden;
  font-size: 12px;
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-comments .media-heading {
  font-size: 13px;
  font-weight: bold;
}

.card.people {
  position: relative;
  display: inline-block;
  width: 170px;
  height: 300px;
  padding-top: 0;
  margin-left: 20px;
  overflow: hidden;
  vertical-align: top;
}

.card.people:first-child {
  margin-left: 0;
}

.card.people .card-top {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 170px;
  height: 150px;
  background-color: #ffffff;
}

.card.people .card-top.green {
  background-color: #53a93f;
}

.card.people .card-top.blue {
  background-color: #427fed;
}

.card.people .card-info {
  position: absolute;
  top: 150px;
  display: inline-block;
  width: 100%;
  height: 101px;
  overflow: hidden;
  background: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card.people .card-info .title {
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #404040;
}

.card.people .card-info .desc {
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 12px;
  line-height: 16px;
  color: #737373;
  text-overflow: ellipsis;
}

.card.people .card-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  line-height: 29px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  background-color: rgba(214, 224, 226, 0.2);
}

.card.hovercard .cardheader {
  background-size: cover;
  height: 100px;
}

.card.hovercard .avatar {
  position: relative;
  top: -50px;
  margin-bottom: -50px;
}

.card .avatar img {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
  padding: 4px 8px 10px;
}

.card.hovercard .info .title {
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 1;
  color: #262626;
  vertical-align: middle;
}

.card.hovercard .info .desc {
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis;
  float: left;
  margin: 20px 0px 20px 50px;
}

.card.hovercard .bottom {
  padding: 0 20px;
  margin-bottom: 17px;
}

#body #error_explanation {
  color: red;
  ul {
    color: red;
    text-align: left;
  }
  li {
    border: none;
  }
}
#header {
  margin: 0 auto;
  padding: 0px 0 50px;
  text-align: center;
  width: 960px;
}
#header .logo {
  display: block;
  margin: 0px auto;
  padding: 0px;
  width: 340px;
}
#header ul {
  margin: 0;
}
#header ul li {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0 19px;
}
#header ul li a {
  color: #252525;
  display: inline-block;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding: 0 0 3px;
  text-decoration: none;
  text-transform: uppercase;
}
#header ul li a:hover, #header ul li.selected a {
  color: #0ba39c;
}
.floating-label-form-group{
  font-size: 14px;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 20px;
  margin: 0px;
  font-size: 8.5px;
  line-height: 17.6471px;
  vertical-align: baseline;
  opacity: 0;
  transition: top 0.3s ease 0s, opacity 0.3s
}
.col-xs-12 {
  width: 100%;
}
.floating-label-form-group input, .floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0px;
  padding-left: 0px;
  border: medium none;
  border-radius: 0px;
  font-size: 20px;
  background: none repeat scroll 0px 0px transparent;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group textarea{
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 20px;
  background: 0 0;
  box-shadow: none!important;
  resize: none
}
#body form input, #body form textarea {
  color: #252525;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 15px;
  font-weight: normal;
  margin: 0px 0px 37px;
  padding: 20px 10px;
  text-align: center;
  text-transform: uppercase;
  width: 596px;
}
.container .form_edit {
  float: right;
  margin-right: 150px;
  text-align: center;
}
container .form_edit form input .send {
  color: #fff;
}
.container .form_edit form input, #body form textarea {
  color: #252525;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 15px;
  font-weight: normal;
  margin: 0px 0px 37px;
  padding: 20px 10px;
  text-align: center;
  text-transform: uppercase;
  width: 500px;
}
.container #featured {
  margin: 0 0 13px;
  padding: 0;
  position: relative;
  width: 100%;
}
.container #featured img {
  border: 0;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}
.container #featured div {
  margin-left: -480px;
  margin-top: -171px;
  padding: 0px 0px 0px 470px;
  position: absolute;
  top: 50%;
  text-align: left;
}
.container #featured div h2 {
  background: #fff;
  color: #000;
  display: inline-block;
  font-family: poller_oneregular;
  font-size: 20px;
  font-weight: normal;
  margin: 0 350px 18px;
  padding: 23px 27px 20px;
  text-transform: uppercase;
}
.container #featured div span {
  color: #fff;
  display: inline-block;
  font-size: 20px;
  margin: 7px 120px;
  padding: 12px 27px;
  display: block;
}
.container #featured div a {
  background: #000;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  margin: 15px 0 0 450px;
  padding: 26px 27px 22px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.container #featured div a:hover {
  background: #0ba39c;
}
.container > ul {
  margin: 0 auto;
  overflow: hidden;
  padding: 24px 0 0;
  width: 960px;
}
.container > ul li {
  display: block;
  float: left;
  margin: 0 10px 20px;
  padding: 0;
  width: 300px;
}
.container > ul li a {
  color: #000;
  display: block;
  font-family: poller_oneregular;
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.container > ul li a img {
  margin: 0;
  padding: 0;
  opacity: .8;
  transition: 0.5s ease-in-out;
  width: 200px;
}
.container > ul li a:hover img {
  opacity: 1;
}
.container > ul li a span {
  display: block;
  margin: 0;
  padding: 33px 0 0;
}
.container .bottom form {
  margin: 0 auto;
  padding: 24px 0 0;
  width: 115px;
}
.container form {
  margin: 0 auto;
  padding: 24px 0 0;
  width: 620px;
}
.container form textarea {
  height: 175px;
  overflow: auto;
  resize: none;
}
#body form .send {
  color: #FFF;
}
.container form .send {
  background: #252525;
  color: #fff;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 15px;
  font-weight: normal;
  display: inline-block;
  padding: 20px 28px;
  width: auto;
  margin-bottom: 30px;
}
.container form .send:hover {
  background: #0ba39c;
  color: #FFF;
  cursor: pointer;
}

#body {
  margin: 0;
  padding: 0 0 30px;
  text-align: center;
}
#body h1 {
  color: #fff;
  display: inline;
  font-family: poller_oneregular;
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
#body h1 span {
  background: #252525;
  display: inline-block;
  padding: 15px 28px 12px;
}
#body > div {
  margin: 0 auto;
  padding: 0;
  width: 960px;
}
#body > div img {
  border: 2px solid #292929;
  margin: 24px 0 0;
  padding: 0;
}
#body > div .article {
  margin: 0 auto;
  padding: 30px 30px 0;
  width: 560px;
}
#body > div .article h2 {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 25px;
  font-weight: normal;
  margin: 0 0 30px;
}
#body > div .article h3 {
  color: #252525;
  line-height: 24px;
  margin: 0;
  padding: 0;
  font-size: 18px;
}
#body > div .article h4 {
  background: #252525;
  color: #fff;
  display: inline-block;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 25px;
  font-weight: normal;
  margin: 0 0 30px;
  padding: 8px 27px 10px;
}
#body > div .article p {
  margin: 0 0 30px;
}
#body div ul {
  margin: 0;
  padding: 24px 10px 0;
  width: 940px;
}
#body div ul li {
  border: 2px solid #1a1a1a;
  display: block;
  list-style: none;
  margin: 0 0 13px;
  overflow: hidden;
  padding: 0;
}
#body div ul li .figure {
  border-right: 2px solid #1a1a1a;
  float: left;
  margin: 0;
  padding: 0;
  width: 376px;
}
#body div ul li img {
  border: 0;
  display: block;
  margin: 0;
  padding: 0;
  opacity: 0.8;
  transition: 0.5s ease-in-out;
}
#body div ul li .figure:hover img {
  opacity: 1;
}
#body div ul li div {
  float: left;
  margin: 0;
  padding: 63px 0 20px;
  width: 558px;
}
#body div ul li div h3 {
  color: #252525;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 25px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
#body div ul li div p {
  padding: 30px 30px 18px;
}
#body div ul li div a.more {
  background: #000;
  color: #fff;
  display: inline-block;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 8px 28px;
  text-decoration: none;
  text-transform: uppercase;
}
#body div ul li div a.more:hover {
  color: #252525;
  background: #fff;
  border: 2px solid #252525;
}
#footer {
  background: #252525;
  margin: 0;
  padding: 36px 0 42px;
}
#footer div {
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  width: 960px;
}
#footer div p {
  color: #fff;
  float: left;
  line-height: 44px;
  margin: 0 0 0 10px;
  padding: 0;
}
#footer div ul {
  display: block;
  float: right;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 256px;
}
#footer div ul li {
  display: block;
  float: left;
  list-style: none;
  margin: 0 10px;
  padding: 0;
  width: 44px;
}
#footer div ul li a {
  background: url('icons.jpg') no-repeat 0 0;
  display: block;
  height: 44px;
  margin: 0;
  padding: 0;
  text-indent: -99999px;
  width: 44px;
}
#footer div ul li #twitter {
  background-position: 0 0;
}
#footer div ul li #twitter:hover {
  background-position: -44px 0;
}
#footer div ul li #facebook {
  background-position: 0 -44px;
}
#footer div ul li #facebook:hover {
  background-position: -44px -44px;
}
#footer div ul li #googleplus {
  background-position: 0 -88px;
}
#footer div ul li #googleplus:hover {
  background-position: -44px -88px;
}
#footer div ul li #pinterest {
  background-position: 0 -132px;
}
#footer div ul li #pinterest:hover {
  background-position: -44px -132px;
}
.white {
  color: white !important;
}
.gravatar {
  margin-left: 70px;
}
.center {
  text-align: center;
}
