<div class="col-md-10 col-md-offset-1 width-flash">
  <div class="row exam">
    <div class="col-md-8 col-md-offset-1">
      <div class="title">
        <center><b><h2><%= @exam.category.name %></h2></b></center>
          <%= tag(:hr) %>
      </div>
      <%= render "questions" %>
    </div>
  </div>
</div>
