<section class="footer_bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p class="copyright"><%= t "footer_admin.introduce" %></p>
      </div>
    </div>
  </div>
</section>
